$primary: #ff7700;
$contrast: #252525;
$background: #ffffff;
$secondary: #ff9900;
$light: #eee;
$light-2: #dfe1e5;
$grey: #9b9b9b;
$green: #61ca33;
$blue: #1083ff;
$navy: #08223a;
$red: #f82f37;
$black: #000000;
$yellow: #ffca28;
$white: #ffffff;
